<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Injecting Inner Bean -->
	
	<bean id="hellowrld" class="com.nh.HelloWorld">
		<property name="name" value="Spring First App - Inner Bean"></property>

		<property name="user">
			<bean id="user" class="com.nh.User">
				<property name="name" value="ABC"></property>
			</bean>
		</property>
	</bean>
	
	<bean id="hellowrld1" class="com.nh.HelloWorld">
		<property name="name" value="Spring First App - Inner Bean with Ref"></property>

		<property name="user" ref="user"></property>
	</bean>
	
	<bean id="hellowrld2" class="com.nh.HelloWorld">
		<constructor-arg ref="user"></constructor-arg>
	</bean>
	
	<bean id="user" class="com.nh.User">
		<property name="name" value="XYZ"></property>
	</bean>

</beans>